*{
    margin:0;
    padding:0;
}

nav{
    background-color:black;
    color: white;
    padding : 15px;
}

h1,ul,li{
    display:inline;
}

ul{
    margin-left:70%;
}

li{
    color:grey;
    cursor:pointer;
}

li:hover{
    color:white;
}

input{
    width:80%;
    padding : 15px;
}

.searchbar{
    display : inline;
    padding : 50px;
    width : 80%;
    text-align : center;
}

.box{
    display : inline-block;
    border-width : 5px;
    border-color : black;
    border-style: solid;
    width : 220px;
    cursor:pointer;
}

.products{
    margin : 10px;
    text-align : center;
}

.box:hover{
    background-color: black;
    color:white;
}

.aboutus{
    margin : 20px;
    text-align : center;
    margin-bottom : 20px;


}

.contact{
    background-color: black;
    color: white;
    padding-top: 20px;
}